body {
    background-color: #1C1C1C;
    min-height: 100vh;
    color: #F5E8D8;
}

.custom-btn {
  background-color: #FF6F61;   
  color: #F5E8D8;                
  border: none;
}
.custom-btn:hover {
  background-color: #FF4500;   
}

.virtual-board {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
}

.virtual-column {
    min-width: 120px;
    max-width: 120px;
    margin: 0 15px;
    background-color: #1C1C1C;
    border-radius: 5px;
    padding: 5px;
}

.virtual-column h4 {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: #FF6F61;
    border-radius: 5px;
}

.task-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    cursor: move;
    transition: box-shadow 0.3s ease;
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card .task-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.task-card .task-actions button {
    margin-left: 5px;
}

.dragging {
    opacity: 0.5;
}

#notes-container {
  width: 100%;
  min-height: 200px;
}

.note-textarea {
  width: 100%;
  height: 80px;
  border: none;
  background: transparent;
  resize: none;
  font-size: 1rem;
  color: #333;
  outline: none;
}